$base-color: rgb(25, 165, 135);
$back-color: rgb(37, 37, 37);
$front-color: rgb(224, 224, 224);

$base-color-tr: rgba(25, 165, 135, 0.5);
$back-color-tr: rgba(37, 37, 37, 0.5);
$back-color-tr-02: rgba(37, 37, 37, 0.2);
$front-color-tr: rgba(224, 224, 224, 0.5);
$front-color-tr-02: rgba(224, 224, 224, 0.2);
