<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="../style/css/main.css" />
    <link rel="stylesheet" href="../style/css/menu.css" />
    <link rel="stylesheet" href="../style/css/home.css" />
  </head>

  <body>
    <header>
      <span class="header-btn"></span>
      Home
      <button title="Back" class="header-btn" href="">
        <img
          alt=""
          src="https://img.icons8.com/ios-filled/90/000000/more.png"
        />
      </button>
    </header>
    <main class="inflow">
      <section class="greeting">
        <h1>Good afternoon, Icus!</h1>
      </section>
      <section
        tabindex="1"
        onclick="window.location='dater.html'"
        class="dater-info card"
      >
        <div class="card-header">
          <h3>New picks for you!</h3>
        </div>
        <img
          class="stars"
          alt=""
          src="https://img.icons8.com/ios-filled/150/000000/sparkling--v2.png"
        />
        <p>We found 12 people near you.</p>
        <p>5 of them shares same interests.</p>
        <div class="card-footer">
          <text>tap here to open Dater</text>
        </div>
      </section>
      <section tabindex="2" class="tip card">
        <div class="card-header">Finish up your account!</div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero
          cupiditate iusto veniam, est obcaecati aliquam provident a eaque
          assumenda mollitia.
        </p>
        <div class="card-footer">
          <text>tip</text>
        </div>
      </section>
      <section tabindex="3" class="stat card">
        <div class="card-header">Statistics</div>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti qui
          dolorum repellendus, deleniti alias harum atque, hic mollitia
          cupiditate eius, nesciunt sed.
        </p>
        <div class="card-footer">
          <text>tap for more info</text>
        </div>
      </section>
    </main>

    <menu>
      <a href="home.html" id="active">
        <img
          alt=""
          src="https://img.icons8.com/material-rounded/90/000000/home.png"
        />
        Home
      </a>
      <a href="chats.html">
        <img
          alt=""
          src="https://img.icons8.com/material/90/000000/chat--v1.png"
        />
        Chats
      </a>
      <a href="tops.html">
        <img
          alt=""
          src="https://img.icons8.com/material-rounded/90/000000/star--v1.png"
        />
        Top picks
      </a>
      <a href="account.html">
        <img
          alt=""
          src="https://img.icons8.com/material-rounded/90/000000/guest-male.png"
        />
        Account
      </a>
      <!-- <a href="login.html">login</a> -->
    </menu>

    <!-- <footer>
        <p>2022 SzunoX Inc.</p>
    </footer> -->
  </body>
</html>
