<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in to szunyox</title>
    <link rel="stylesheet" href="../style/css/login.css">
    <link rel="stylesheet" href="../style/css/main.css">
    <link rel="stylesheet" href="../style/css/elements/bubble.css">
</head>

<body>
    <header>
        <img src="../logo/logo.png" id="logo" alt="">
        SzunyoX
        <button title="Back" class="header-btn" href="">
            <img alt="" src="https://img.icons8.com/ios-filled/90/000000/more.png" />
        </button>
    </header>
    
    <form id="login" action="setup.html">
        <h3>Log in to your SzunyoX account!</h3>
        <input id="username" type="email" placeholder="Email address">
        <input id="password" type="password" placeholder="Password">
        <p>or</p>
        <button class="apple-btn"><img src="../logo/apple.png" alt="">
            <span>Sign in with Apple</span>
        </button>
        <button><img src="../logo/google.png" alt=""><span>Sign in with Google</span></button>
        <button class="main-btn">Start
            Chatting</button>
        <a href="#">Forgot password</a>
        <a href="#">Learn more about us</a>
    </form>

    <div class="bubble"></div>
    <div class="bubble mid"></div>
    <div class="bubble big"></div>
    <!-- <footer>
        <p>2022 SzunoX Inc.</p>
    </footer> -->
</body>

</html>
