@use "variables/colors";
.profileHeader {
    position: fixed;
    top: 3rem;
    width: 100%;
    min-height: 6rem;
    max-height: 24rem;
    background-color: colors.$back-color-tr;
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    img {
        min-width: 4rem;
        min-height: 4rem;
        height: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        //transition: all 0.2s ease;
    }
    img.small {
        width: 3rem;
    }
    h2 {
        text-shadow: 0 0 1rem black;
    }
    .row {
        width: 100%;
        padding: 1rem;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    #age {
        margin-left: 0.5rem;
        opacity: 0.5;
    }
}
.profileData {
    .tags {
        padding: 0;
        margin: 0.5rem;
    }
    .bio {
        margin: 1rem;
    }
    .tag {
        img {
            margin-right: 0.5rem;
            height: 1rem;
        }
    }
    .social {
        margin-bottom: 50rem;
    }
}
